/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 
*{
margin : 0;
padding : 0;

list-style-type: none;
}


:root{

    --bg : white;
    --text : black;

    --sec2 : rgba(244,240,255,1);

}


.dark {
  --bg: black;
  --text: white;

   --sec2 : rgba(28,0,55,1);
}

::selection{
  background:  rgba(135, 5, 255, 1);
  color: var(--bg);
}
/* 
body.dark::selection{
  background: indigo;
  color:black;
} */

/* 
body{

    background-color: var(--bg);

    margin : 0;
    min-height: 100%;
    width:  100%;
   height : auto;

   overflow-x: hidden;
   overflow-y: auto;

} */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {

  background-color: var(--bg);
  min-height: 100vh;     
  overflow-x: hidden; 

}



.toggle-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  width: 3.2rem;
  height: 3.2rem;
  border-radius: 15%;

  border: none;
  background: linear-gradient(135deg, #7f5cff, #5b2eff);
  color: white;
  font-size: 1.4rem;

  cursor: pointer;
  z-index: 2000;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.35);
  transition: transform 0.25s ease, background 0.25s ease;
}



@media (hover: hover) {
  .toggle-btn:hover {
    transform: scale(1.08);
    background: var(--text);
    color: rgba(135, 5, 255, 0.7);
  }
}

/* header navbar -1 */

.navbar-1{

    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;   

    gap: 0.75rem;

    border: none;
    background-color: rgba(135, 5, 255, 1);

   min-height: 3rem;          
  padding: 0.5rem 1rem; 

    color : white;
    text-align: center;

    /* opacity: 0.7; */
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.01rem;
}

.btn-1
{
      border:0px;
    
    color:white;
    background-color: black;
   
    padding:1rem;
    cursor: pointer;

    
}
/* 
.btn-1:hover{
    
    background:white;
    color:black;
} */


@media (hover: hover) {
  .btn-1:hover {
      background:white;
    color:black;
  }
}

.navbar-2{

    position: sticky;
    top:0;
    z-index : 1000;

    background-color: var(--bg);

    border:none;

    display: flex;
    justify-content: center;
    align-items: center;
     flex-wrap: wrap;
    
   

    width:100%;
    height:4.2rem; 

  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;


 
}




.navbar-2 li{
    padding: 0.5rem 0.8rem;    

    background-color: rgba(135, 5, 255, 0.5);


    position: relative;
    overflow:hidden;
    z-index:1;

    cursor: pointer;
    white-space: nowrap;  

}

.navbar-2 li::before{

    content: "";

  position: absolute;
  inset: 0;
  background: var(--bg);

   transform: scaleX(1);        
  transform-origin: right;
  transition: transform 0.35s ease;


  z-index: -1;
}

.navbar-2 li:hover:before{
     /* background-color: rgba(135, 5, 255, 0.3); */
     transform: scaleX(0);
    
}

@media (max-width: 600px) {

  .navbar-2 {
    justify-content: space-around;
  }

  .navbar-2 li {
    font-size: 0.9rem;
    padding: 0.6rem 0.9rem;
  }

}

.logo{

  width:1rem;
  height:1.5rem;

  color:var(--text);
    fill:var(--text);
    flex : 1;

  margin-left: 0.7rem;

}

.navbar-2 .nav-2{

    flex:1;
    display: flex;
    text-decoration: none;
    
    justify-content: center;
    align-items: center;
    
    color:var(--text);

    gap:1rem;
     /* gap: clamp(1rem, 2vw, 2.5rem); */
    
    margin-right :20rem;
 
    /* display: none; */
    white-space: nowrap;
}

@media (max-width: 1024px) {
  .navbar-2 .nav-2 {
    display: none;
  }
}


.btn-2{

    flex:0.5;

    height: 100%;
   min-width:6rem;

    border:none;
    
    color:var(--text);
    background-color:  rgba(135, 5, 255, 0.5);
   
    padding:0.1rem;
    cursor: pointer;

    font-weight: bold;
     font-weight: 300;
    font-size: 1rem;


    position: relative;
    overflow:hidden;
    z-index: 1;

    
}

.btn-2::before{

  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg);

  transform-origin: right;
  transition: transform 0.35s ease;

  z-index: -1;
}

.btn-2:hover:before{
    transform: scaleX(0);
}

.btn-3{


 flex:0.5;

 font-weight: bold;
    height: 100%;
    min-width:9rem;

    border:none;
    
    color:var(--bg);
    background-color: rgba(135, 5, 255, 1);

   
    padding:0.1rem;
    cursor: pointer;

    font-style: bold;
    font-weight: 300;
     font-size: 1rem;


  position: relative;
  overflow: hidden;
  z-index: 1;

}

.btn-3:hover:before{
   transform: scaleX(0);

}
 
/* @media (hover: hover) {
  .btn-3:hover {
  
      transform: scaleX(0);
  }
} */


.btn-3::before{

  content: "";

  position: absolute;
  inset: 0;
  background: var(--text);

  transform-origin: right;
  transition: transform 0.35s ease;


  z-index: -1;
}

.divider-0{

    position: sticky;
    top: 4.2rem;

     width:100%;
    height:0.01rem;
    background-color:var(--text);
    color:black;

    z-index:3000;
}


.divider-1{

    width:100%;
    height:0.01rem;
    background-color:var(--text);
    color:var(--text);

}

/* Home section */
.home-container{
    border: 1px solid rgba(0,0,0,0.3);
    

    overflow-x: hidden;
    width:100%;
    min-height:100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-text-1{

    margin-right: 20px;
  flex: 0.7;

  width: 20%;
  height:70%;
  
  margin-left: 3rem;
  margin-bottom:2rem;

  /* border :1px solid black; */

    color : var(--text);
    /* line-height: 5rem; */


  font-family: "Poppins", sans-serif;
  font-size: 2.7rem;
  font-weight: 200;
  font-style: normal;
  /* letter-spacing: 0.3px; */

}

.home-text-1 h1{
line-height: 5.5rem;
} 



.home-text-1 h3{
    margin-top: 1.5rem;
    opacity: 0.6;
    font-size: 2rem;
}



.btn-4{
 
    padding:1rem;
    
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: lighter;


 font-weight: bold;
    height: 100%;
    width:2rem;

    border:0.01rem solid var(--text);
    
    /* color: white; */
    background-color: black;


   
    padding:1rem;
    cursor: pointer;

    font-style: normal;
  font-size: 1.2rem;

  position: relative;
  overflow: hidden;
  z-index: 1;

  width : 13rem;
  height:4.5rem;

  margin-top: 1rem;


}

.btn-4::before{

    
  content: "";

  position: absolute;
  inset: 0;
  background: white;
  color: black;

  transform-origin: right;
  transition: transform 0.35s ease;


  z-index: -1;
}

.btn-4:hover:before{
    transform: scaleX(0);
}

.btn-4:hover{
    color:white;
}

.btn-5{

    
  width : 13rem;
  height:5rem;

  font-weight: bold;
  font-size: 1.1rem;

  margin-top: 1rem;

  
    border:1px solid var(--text);
    
    
    color:white;
    background-color: rgba(135, 5, 255, 1);

   
    padding:0.1rem;
    cursor: pointer;

    font-style: bold;


  position: relative;
  overflow: hidden;
  z-index: 1;
  
}



.btn-5::before{

  content: "";

  position: absolute;
  inset: 0;
  background: black;

  transform-origin: right;
  transition: transform 0.35s ease;


  z-index: -1;
}

.btn-5:hover:before{
   transform: scaleX(0);

}

/* Home right */
.boxes{
    /* flex : 1; */

     flex :0.7; 

 
    display: grid;
    grid-template-columns: repeat(10, 5rem);
     grid-auto-rows: 5rem; 
   gap:0px;


    width : 50%;
    height: 100%;

    /* border: 1px solid black; */
}

/* responsive to width */
@media (max-width: 1024px) {
  .boxes {
    display: none;
  }
}


.box{

    /* width:100px;
    height: 100px; */

    /* background-color: pink; */

 width:100%;
 height:100%;
    
  position: relative;
  overflow: hidden;
  z-index: 1;
  

    border: 0.01rem solid var(--text);
    opacity: 0.5;

    transition: 2s ease;

}

.box:nth-child(1),
.box:nth-child(5),
    .box:nth-child(8),
    .box:nth-child(12)
   /* .box:nth-child(15){ */
 { grid-row:  1;

   background: linear-gradient(90deg, #7F00FF, #E100FF);

   
}

.box:nth-child(3),
.box:nth-child(9),
    .box:nth-child(7),
    .box:nth-child(14){
    grid-row:  2;
    /* background-color: cyan; */
   background: linear-gradient(90deg, #00C6FF, #0072FF);

}




.box:nth-child(2),
.box:nth-child(4),
    .box:nth-child(6),
    .box:nth-child(9){
    grid-row:  3;
    /* background-color: violet; */
   background: linear-gradient(90deg, #5F2C82, #49A09D);

}



.box:nth-child(10),
.box:nth-child(11),
    .box:nth-child(13),
    .box:nth-child(15){
    grid-row:  4;
    /* background-color: orange; */
    background: linear-gradient(90deg, #FF416C, #FF4B2B);

   
}


.box:nth-child(17),
.box:nth-child(18),
    .box:nth-child(16),
    .box:nth-child(19){
        
    grid-row:  5;
    /* background-color:red;   */
    background: linear-gradient(90deg, #0F2027, #203A43, #2C5364);


}

.box:nth-child(20),
.box:nth-child(21),
    .box:nth-child(22),
    .box:nth-child(23){
        
    grid-row:  6;
    /* background-color:green;   */
    background: linear-gradient(90deg, #8E2DE2, #4A00E0);

}

.box:nth-child(17),
.box:nth-child(18),
    .box:nth-child(16),
    .box:nth-child(19){
        
    grid-row:  7;
    /* background-color: yellow;   */
    background: linear-gradient(90deg, #11998E, #38EF7D);


}

.box:nth-child(20),
.box:nth-child(21),
    .box:nth-child(22),
    .box:nth-child(23)
    {
        
    grid-row:  8;
    /* background-color:green;   */
    background: linear-gradient(90deg, #11998E, #38EF7D);
    }


    .box{

     position: relative;
  overflow: hidden;
  z-index: 1;
  

  background :  linear-gradient(90deg, #8E2DE2, #4A00E0);

    border: 0.01rem solid var(--text);
    opacity: 0.5;
    
    transition: 3s transform ease;
}

.box:before{
     content: "";

      top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  position: absolute;
  inset: 0;
  background: var(--bg);

  transform-origin: right;
  transition: transform 0.35s ease;


  z-index: -1;
}

.box:hover::before{
    transform: scaleX(0);
}

/* motion */
.box.active::before {
  animation: slideIn 1.5s linear;
}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  20% {
    left: -80%;
  }
  40%{
    left: -60%;
  }
  60%{
    left: -40%;
  }
  80%{
    left:-20%;
  }
  100%{
    left:0%;
  }
  120%{
    left:40%;
  }
}


/* home-2 */
.home-2{
    width:100%;
    min-height: 30vh;
/* 
    display: flex;
    align-items: center;
    justify-content: center; */
} 

.main-txt{

   text-align: center;
}
.home-2 h1{
    color:var(--text);

    font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: bold;

  opacity: 1;

  margin-bottom: 6rem;

  margin-top: 2rem;
  text-align: center;
}


.marquee {

    flex : 1;

  width: 100%;
  overflow: hidden;
  background: var(--bg);
  padding: 0.04 0;

 
}

.track {

  display: flex;
  gap: 0px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.track span {
  color: rgba(0, 0, 0,0.5);
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
  opacity: 0.8;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

img{
    width:30%;
    height:50%;
}

.home-mid{
    width:100%;
    min-height: 30vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.home-mid h1{
    color:var(--text);

  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  font-style: normal;

  opacity: 1;



  display: flex;
    align-items: center;
    justify-content: center;

}

/* Section-1  */
.sec-1{

    width:100%;
    min-height:90vh;

    border: 0.01rem light var(--text);
/* 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

@media (max-width: 800px) {
  .sec-1 {
    grid-template-columns: repeat(1,50em);
    border: none;
  }
}


.sub-1{

    
    border: 0.01rem solid var(--text);
    color:var(--text);
    fill:var(--bg);

display: flex;
align-items: center;
justify-content: center;

flex-direction: column;
}


.sub-2{

    
        border: 0.01rem solid var(--text);
    color:var(--text);
     fill:var(--bg);

    
display: flex;
align-items: center;
justify-content: center;

flex-direction: column;

}

.sub-3{

    
       border: 0.01rem solid var(--text);
    color:var(--text);

    
display: flex;
align-items: center;
justify-content: center;


flex-direction: column;


}


.sub-1,.sub-2,.sub-3, h2{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  font-style: bold;
  letter-spacing: 0.01rem; 
}

.sub-1,.sub-2,.sub-3, h3{
      font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: bolder;
  letter-spacing: 0.01rem; 
  
}

h3{
  margin-top: 1rem;
    margin-left: 1.5rem;

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  font-style: bold;
  letter-spacing: 0.1rem; 
}

.sec-1-img{

    margin-top: 3rem;
    width:80%;
    height:50%;
}


@media (max-width: 800px) {
  .sec-1-img {
   
    width:50%;
    height: 30%;
    border: none;
  
  }
}


.small-box{
    width:2rem;
  height:2rem;
  font-weight: bolder;
  font-size: large;

  background-color: rgba(135, 5, 255, 0.7);
  color:white;

  display: flex;
  align-items: center;
  justify-content: center;
}


/* section-2 */
.sec-2{

    
    width:100%;
    min-height:40vh;

    border: 0.01rem light var(--text);

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;

    gap:3rem;

     background: var(--sec2);

}

.sub-sec-2{
 flex: 0.5;  
 
 display: flex;
 align-items: center;
 justify-content: center;

 font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  font-style: normal;

  margin-left: 5rem;

  color:var(--text);

}




.sub-sec-2-2{
    flex:1;

    color:var(--text);
}


.marquee-2 {

    flex : 1;
 
  position: relative;

  width: 100%;
  overflow: hidden;
  background: var(--sec2);
  padding: 5rem 0;

   /* animation: glow 2s linear; */

}


.marquee-2::before,
.marquee-2::after {


  content: "";
  position: absolute;

  top: 0;
  width: 1rem;           
  height: 50%;

  margin-top: 6rem;
  z-index: 2;
  pointer-events: none;

   
}


.marquee-2::before {

  left: 0;


  background: linear-gradient(
    to right,
    var(--sec2) 20%,
    rgba(127, 92, 255, 0.25),
    transparent
  );

  box-shadow:  rgba(127, 92, 255, 0.25),
   rgba(127, 92, 255, 0.5);

 
}
 
@keyframes glow {
  form{
  box-shadow:  10px 10px  rgba(127, 92, 255, 0.25) ;
  }
  to{
   box-shadow: 20px 10px  rgba(127, 92, 255, 0.5);
  }
}

/* 

.marquee-2::after {

  right: 0;

  background: linear-gradient(
    to left,
    var(--sec2) 10%,
    rgba(127, 92, 255, 0.25),
    transparent
  );


} */

.track-2 {

  display: flex;
  gap: 0px;
  width: 400%;
 
  animation: scroll-2 20s linear infinite;
}

.track-2 span {


  color: rgba(0, 0, 0,0.5);
  font-size: 10rem;
  font-weight: 700;

  white-space: nowrap;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .sub-sec-2 {
    display: none;
  }
}


/* Animation */
@keyframes scroll-2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


/* responsive sections */

@media (max-width: 800px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .home-text-1 {
    width: 100%;
    margin: 1.5rem 1rem;
  }

  .boxes {
    width: 100%;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr); 
  }

  .sec-1 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {

  .logo {
    width: 1.8rem;    
    height: 1.3rem;
    flex: 0;           
    margin-left: 0.5rem;

  }
}